@import "variables";

.wrapper {
  height: 100%;
  background-color: $gray-100;
}

.main {
  height: calc(100% - #{$header-height} - #{$footer-height});
  overflow: auto;
}

.header {
  height: $header-height;
  background-color: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  height: $footer-height;
  background-color: $primary;
  text-align: center;
  color: $white;
}
