{
  'compact': false,
  'presets': ['env', 'stage-2'],
  'env': {
    'test': {
      'presets': [['env'], 'react'],
      'plugins': [
        'react-require',
        'transform-decorators-legacy',
      ],
    }
  }
}
