ion-view(view-title='Dashboard')
  ion-content.padding
    h2 Welcome to Ionic
    p
      | This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the
      a(href='http://market.ionic.io/starters', target='_blank') Ionic Market
      | .
    p
      | To edit the content of each tab, edit the corresponding template file in
      code src/app/modules/{name}/templates/
      | . This template is
      codesrc/app/modules/dash/templates/tab-dash.pug
    p
      | If you need help with your app, join the Ionic Community on the
      a(href='http://forum.ionicframework.com', target='_blank') Ionic Forum
      | . Make sure to
      a(href='http://twitter.com/ionicframework', target='_blank') follow us
      |  on Twitter to get important updates and announcements for Ionic developers.
    p
      | For help sending push notifications, join the
      a(href='https://apps.ionic.io/signup', target='_blank') Ionic Platform
      |  and check out
      a(href='http://docs.ionic.io/docs/push-overview', target='_blank') Ionic Push
      | . We also have other services available.
