ion-tabs.tabs-icon-top.tabs-color-active-positive
  // Dashboard Tab
  ion-tab(title='Status', icon-off='ion-ios-pulse', icon-on='ion-ios-pulse-strong', href='#/tab/dash')
    ion-nav-view(name='tab-dash')
  // Chats Tab
  ion-tab(title='Chats', icon-off='ion-ios-chatboxes-outline', icon-on='ion-ios-chatboxes', href='#/tab/chats')
    ion-nav-view(name='tab-chats')
  // Account Tab
  ion-tab(title='Account', icon-off='ion-ios-gear-outline', icon-on='ion-ios-gear', href='#/tab/account')
    ion-nav-view(name='tab-account')
