.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 460px;
  margin: 0 auto;
}

.key-icon {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: svg-load('../../../img/icons/ic-key.svg');
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.login-button {
  height: 40px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 20px;
  border: 1px solid #ccc;
}
