ion-view
  ion-header-bar
    a(class='button button-icon ion-chevron-left'
      ui-sref='signup.hospitals')
    h1.title 'Add phone numbers'
    a(class='button button-icon ion-chevron-right'
      ui-sref='app.profile.details')
