$color-error: #CF3B47;
$color-default: #0A81C4;
$color-default20: #3B9ACF;
$color-default500: #044061;
$color-default550: #04334E;
$color-default600: #02263A;
$color-default700: #021927;
$color-font: #fff;
$comp-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
